TG_BOT_TOKEN=SEU_TOKEN
TG_CHAT_ID=SEU_CHAT_ID

COINGECKO_API_KEY=SUA_CHAVE
COINGECKO_BASE_URL=https://pro-api.coingecko.com/api/v3

TIMEZONE=America/Sao_Paulo
OVERNIGHT_TIME=21:00

VS_CURRENCY=usd
PER_PAGE=250
PAGES=1
CANDIDATES=35

TOP_N=5
OVERNIGHT_TOP_N=3

MIN_MCAP=2000000
MAX_MCAP=300000000
MIN_VOL24=1500000

EXCLUDE_STABLES=true